@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-size:20px;
    font-family:'GmarketSansMedium';
}


@media screen and (max-width:800px){
    html{
        font-size:10px;
    }

    #top_bar a{
        text-decoration: none;
        font-size:4rem;
        color:black;
        padding-left:15px;
        font-weight: 800;
    }

    .product_detail_wrapper{
        width:90vw;
        margin-left:5%;
    }
}


@media screen and (min-width:800px) and (max-width:2000px){
    #top_bar a{
        text-decoration:none;
        font-size:2rem;
        color:black;
        padding-left:15px;
        font-weight: 800;
    }

    .product_detail_wrapper{
        width: 50vw;
        margin-left:25%;    
    }
}


html, body {
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
}

#top_bar{
    background-color:#F8B517;
    text-align: left;
    width:100%;
    height: 50px;
}


#navigation{
    width:100%;
    height:50px;
    background-color: rgba(201, 177, 177, 0.261);
}


#login_bar{
    padding-top:10px;
    margin-right:100px;
    padding-left: 15px;
}

#login_bar a{
    text-decoration: none;
    font-size: 0.8em;
}


.detail_img img{
    width:150px;
    height:150px;
}

.product_detail_wrapper{
    text-align: left;
    border: double;
    padding:20px;
    margin-top:30px;
    border-color:#F8B517;
}

#increaseQuantity{
    text-decoration: none;
}

#decreaseQuantity{
    text-decoration:none;
}

#increaseQuantity:hover{
    background: #F8B517;
}

#decreaseQuantity:hover{
    background: #F8B517;
}

#kakao_pay{
    border-radius: 8px;
    background: white;
}

#kakao_pay:hover{
    background: #F8B517;
}

.detail_donation_money{
   margin-top: 20px;
}

.detail_target_money{
    margin-bottom:20px;
}

.select_part{
    margin-bottom:20px;
}

.detail_name{
    font-size:2rem;
    font-weight: 800;
}

.detail_description{
    font-size:0.75rem;
}

.detail_crowd_money{
    font-size:0.8rem;
}

.deteail_target_money{
    font-size:0.8rem;
}