@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    font-size:20px;
    font-family:'GmarketSansMedium';
}

#top_bar{
    background-color:#F8B517;
}

#body_wrapper{
    height:100%;
    margin-top:10px;
}

#body_wrapper h1{
    text-align:center;
}



#navigation{
    width:100%;
    height:50px;
    background-color: rgba(201, 177, 177, 0.261);
    margin-top:-10px;
}

#content_bar{
    padding-top:10px;
    padding-left:150px;
    float:left;
    font-size:12px;
}

#login_bar{
    padding-top:10px;
    float:right;
    margin-right:100px;
}

#content_bar a {
    font-size:1.2rem;
    text-decoration: none;
}

#funation_wrapper{
    margin-top:30px;
    width:70%;
    margin-left:15%;
    border-style: double;
    border-color:grey;
}

#funation_introduce{
    padding-top:15px;
}



.product_wrapper{
    margin-top: 20px;
    display:inline-block;
    padding : 10px;
    margin-left:100px;
    margin-bottom:20px;
    border-color: grey;
    border-style: groove;
    width:350px;
    height: 100%;
}

.product_description{
    padding-top:10px;
}

.product_img img {
    margin-top:10px;
    width:120px;
    height:120px;
}

.product_crowd_money{
    padding-top:15px;
}

.product_name{
    border-bottom: solid grey;
}