@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


* {
    font-size:20px;
    font-family:'GmarketSansMedium';
}


@media screen and (max-width:800px){

    #signup_container div p{
        font-size:10px;
    }

    #signup_container div input::placeholder{
        font-size:10px;
    }

    #create_button {
        width:80vw;
    }


    #signup_container{
        width:80vw;
        margin-left:5vw;
    }

    #signup_container div input{
        width: 80vw;
        border-radius: 10px;
    }
    #signup_form li p{
        margin-left:10vw;
    }
    

}


@media screen and (min-width:800px) and (max-width:2000px){
    #top_bar a{
        text-decoration:none;
        font-size:2rem;
        color:black;
        padding-left:15px;
        font-weight: 800;
    }

    .user_input{
        margin-top: 20px;
        width: 20vw;
    }
    .other_form{
        width:20vw;
    }

    #signup_form{
        width:50%;
        margin-left:25%;
    }

    #signup_container{
        width:30%;
        margin-left:15%;
    }
    
    #signup_container div input{
        width: 30vw;
    }

    #signup_form li p{
        margin-left:25vw;
    }
    
}




html, body {
    width: 100%;
    height: 100%;
    margin:0px;
    padding:0px;
}

#login_bar a{
    text-decoration: none;
    font-size: 0.8em;
}

#top_bar{
    background-color:#F8B517;
    text-align: center;
    width:100%;
    height: 50px;
    text-align: left;
    
}

#top_bar a{
    text-decoration: none;
    font-size:2rem;
    color:black;
    padding-left:15px;
    font-weight: 800;
}

#navigation{
    width:100%;
    height:50px;
    background-color: rgba(201, 177, 177, 0.261);
}


#login_bar{
    padding-top:10px;
    margin-right:100px;
    padding-left:15px;
}

li{
    list-style: none;
}

#signup_form{
    text-align: center;
    display:flex;
    flex-direction: column;
    
}


#signup_form li p{
    text-align: left;
}

#signup_form div{    
    text-align: left;
    padding-bottom:20px;
}



#signup_container div input:focus{
    background: #F8B517;
}

#create_button{
    border-radius: 8px;
    background-color: white;
}

#create_button:hover{
    background: #F8B517;
}

#error_message{
    color:#F8B517;
}