<!DOCTYPE html>
<html lang="kr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'detail.css' %}">
    <title>기부참여하기</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>

   
    <div id = "header" style="width: 100%; background-color: yellow;">
        navigation
    </div>

    <div class="detail_wrapper">
        <div class="product_detail_wrapper">
            <form method="POST" action="{% url 'kakaopay' %}">
                {% csrf_token %}
                <div class="detail_img">
                    <img src="{{i.product_img.url}}">
                </div>
                <div class="detail_introduce">
                    <div class="detail_name">{{i.product_name}}</div>
                    <div class="detail_description">{{i.product_description}}</div>
                    <div class="detail_crowd_money">모인금액 : {{i.product_crowd_money}}원</div>
                    <div class="detail_target_money">목표금액 : {{i.product_target_money}}원</div>
                    <div class="detail_donation_money">
                        <div class="number_select">
                            <div class="select_part">
                                <p>기부니 이만큼 할래</p>
                                <span id="donation_count">1</span>
                                <a href="#" id="increaseQuantity">+</a>
                                <a href="#" id="decreaseQuantity">-</a>
                            </div>
                        </div>
                        <div class="deatil_donation_go">
                            <input type="submit" value="카카오페이로 결제하기">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    $(function () {
        $('#decreaseQuantity').click(function (e) {
            e.preventDefault();
            var stat = $('#donation_count').text();
            var num = parseInt(stat, 10);
            num--;
            if (num <= 0) {
                alert('더이상 줄일수 없습니다.');
                num = 1;
            }
            $('#donation_count').text(num);
        });
        $('#increaseQuantity').click(function (e) {
            e.preventDefault();
            var stat = $('#donation_count').text();
            var num = parseInt(stat, 10);
            num++;

            if (num > 10) {
                alert('더이상 늘릴수 없습니다.');
                num = 10;
            }
            $('#donation_count').text(num);
        });
    });
</script>

</html>