<!DOCTYPE html>
<html lang="kr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>퍼네이션</title>
</head>
<body>
    
    퍼네이션 메인부분

  
    <div>{{user.mem_name}}</div>
    {% if user.is_active %}
    <a href="{% url 'logout' %}">로그아웃</a>
    {% else %}
    <a href="{% url 'login' %}">로그인</a>
    {% endif %}

    <div id="funation_wrapper">
        {% for i in product.all%}
        <div class="product_wrapper">
            <div class="product_name">{{i.product_name}}</div>
            <div class="product_img" ><img src= "{{i.product_img.url}}"></div>
            <div class="product_description">{{i.summary}}</div>
            <div class="product_crowd_money">지금 모인 금액 : {{i.product_crowd_money}}</div>
            <div class="product_target_money">이만큼 모아야 해요 : {{i.product_target_money}}</div>
            <div class="product_detail">
            {% if user.is_active%}
            <a href="{% url 'detail' i.id %}">기부하러가기</a>
            {% else %}
            <a href="{% url 'login' %}">지금 회원가입하고 기부하러가기</a>
            {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>