<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    {% load socialaccount %}
    {% providers_media_js %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>로그인하기2</title>
</head>

<body>
    <div id="body_wrapper">
        <div id="top_bar">
            <a href="{% url 'index' %}">기부니가좋다</a>
        </div>
        <div id="navigation">
            <div id="login_bar">
                {% if user.is_active %}
                
                {{user.username}}님 안녕하세요.
                
                <a href="{% url 'logout' %}">로그아웃</a>
                {% else %}
                <a href="{% url 'login' %}">로그인</a>
                {% endif %}
            </div>   
        </div>

        <div id="login_wrapper">
            <div id="login_form">
                <form method="POST" action="{% url 'login_try' %}">
                    {% csrf_token %}
                    <div id="login">
                        <div id="error_message">
                            {% if messages %}
                            {% for message in messages %}
                            {{message.message}}
                            {% endfor %}
                            {% endif %}
                        </div>
                        <h1>로그인하기</h1>
                        <div>
                            <input type="text" placeholder="아이디를 입력해주세요" class="user_input" name="user_id">
                        </div>
                        <div>
                            <input type="password" placeholder="비밀번호를 입력해주세요" class="user_input" name="user_password">
                        </div>
                        
                        <div>
                            <input type="submit" class="other_form" value="로그인" id="login_submit">
                        </div>
                            
                    </div>
                </form>
            </div>
            <div style="padding-top:10px;">
                <a href="{% url 'signup' %}"><button class="other_form">회원가입</button></a>
            </div>
            <div id="login_sns">
                <div id="kakao_connect">
                    <a href="{% url 'kakao_signup' %}"><button class="other_form">
                        카카오톡
                        연결</button></a>
                </div>
                <div id="google_connect">
                    <a href="{% provider_login_url 'google' %}"><button class="other_form">구글 연결</button></a>
                </div>
            </div>
        </div>
        </div>

    </div>
</body>

</html>