<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <div class="signup_form">
        <form method="POST" action="*">
            <li><input type="text" placeholder="이름을 입력"></li>
            <li><input type="text" placeholder="아이디를 입력해주세요"></li>
            <li><input type="password" placeholder="비밀번호"></li>
            <li><input type="password" placeholder="비밀번호확인"></li>
            <li><input type="text" placeholder="주민번호앞자리와 뒤에 하나 입력"></li>
            <li><input type="email" placeholder="이메일"></li>
            <li><button type="submit">계정 생성</button></li>
        </form>
    </div>
</body>
</html>