<!DOCTYPE html>
<html lang="kr">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>회원가입</title>
</head>

<body>
    <div id="body_wrapper">
        <div id="top_bar">
            <a href="{% url 'index' %}">기부니가좋다</a>
        </div>
        <div id="navigation">
            <div id="login_bar">
                {% if user.is_active %}
                
                {{user.username}}님 안녕하세요.
                
                <a href="{% url 'logout' %}">로그아웃</a>
                {% else %}
                <a href="{% url 'login' %}">로그인</a>
                {% endif %}
            </div>   
        </div>


        <div id="signup_form">
            <form method="POST" action="{% url 'signup_create' %}">
                {% csrf_token %}
            <div id="signup_container">
                <div>
                    <p>이름</p><input type="text" placeholder="이름을 입력" name="user_name">
                </div>
               
                <div>
                    <p>아이디</p><input type="text" placeholder="아이디를 입력해주세요" name="user_id">
                </div>
                <div>
                    <p>비밀번호</p><input type="password" placeholder="비밀번호" name="user_password">
                </div>
                <div>
                    <p>비밀번호확인</p><input type="password" placeholder="비밀번호확인" name="user_password2">
                </div>
                <div>
                    <p>주민번호</p><input type="text" placeholder="19970329" name="user_info">
                </div>
                <div>
                    <p>이메일</p><input type="email" placeholder="example@xxxxxxx" name="user_email">
                </div>
                <div>
                    <p>폰번호</p><input type="text" placeholder="010XXXXXXXX" name="user_phone">
                </div>
        
                <div id="error_message">
                    {% if messages %}
                    {% for message in messages %}
                    {{message.message}}
                    {% endfor %}
                    {% endif %}
                </div>
                <div><button type="submit" id="create_button">계정 생성</button></div>

            </div>
        </div>
        </form>
    </div>
    </div>
</body>

</html>